<h2>{{ nHero.name }} Details</h2>
<div><span>id: </span>{{nHero.id}}</div>
<div><span>name: </span>{{nHero.name}}</div>
<div><label>name:
  <input [(ngModel)]="nHero.name" placeholder="name">
</label></div>

<h2>My Heros</h2>
<ul>
  <li [class.selected]="hero===selectedHero" class="d-flex m-1" *ngFor="let hero of heroes" (click)="onSelect(hero)"
      routerLink="/detail/{{hero.id}}">
    <span class="rounded-left p-2 bg-primary text-light">{{hero.id}}</span>
    <div class="rounded-right p-2 bg-light text-dark w-50">{{hero.name}}</div>
  </li>
</ul>
<!--app-hero-detail [selectedHero]="selectedHero"></app-hero-detail-->
<div><button [disabled]="isSpecial">property binding button</button></div>
<div><button class="test" [class.special]="isSpecial" [class.on]="isTest">property binding button</button></div>
<div><button [style.color]="isSpecial ? 'red':'green'">property binding button</button></div>

<div><button (click)="onSave($event)">event binding save button</button></div>

